header{
  position: fixed;
  right: 0;
  left: 0;
}
.navbar-container{
  display: grid;
  grid-column-gap: 20%;
  grid-template-columns: auto auto;
  background-color: $black;
  height:2vh;
  color: $white;
  padding: 1%;
  img{
    display: block;
    width: 26px;
  }
}

.itms-navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a{
      color:$white;
      margin: 5px;
  }
}
