._curso{
  display: block;
  margin-bottom: $x-small;
  border-style: solid;
  border-color: gray;
  padding: $x-small;
}
.--imagenCurso{
  display:block;
  width: 99%;
  box-sizing: border-box;
  padding: 1px;
}
.reaccion-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0px;
}

.reaccion-container > div {
  text-align: center;
  font-size: $small;
  margin-top:2%;
  margin-left:2%;
}

.--tituloCurso{
  margin-left:0;
  margin-top:2%;
  font-size: $x-large;
  text-align: left;
}
.--textoCurso{
  font-size: $small;
  text-align: left;
  margin-left:0;
  margin-top:2%;
  line-height: $x-large;

}
.--instructor{
  font-size:$small;
  text-align: left;
  margin-top:2%;
}
